.lc-container {
    border: 1px solid black;
    margin: 4px;
    min-height:12px;
    width: 400px;
    background-color:aliceblue;
    position:relative;
    float: left;
    border-radius: 4px;
    border-color: blue;
    background-color: white;
    padding: 4px;
}